In [1]:
# Install a pip package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install numpy
!{sys.executable} -m pip install pandas

import numpy as np
import pandas as pd

Requirement already satisfied: numpy in d:\python\3.7\lib\site-packages (1.18.2)
Requirement already satisfied: pandas in d:\python\3.7\lib\site-packages (1.0.3)
Requirement already satisfied: pytz>=2017.2 in d:\python\3.7\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in d:\python\3.7\lib\site-packages (from pandas) (1.18.2)
Requirement already satisfied: python-dateutil>=2.6.1 in d:\python\3.7\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in d:\python\3.7\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)

In [2]:
print("Load the countries.csv file directly into a DataFrame:")

url = 'https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/countries.csv'

df = pd.read_csv(url)
df

Load the countries.csv file directly into a DataFrame:

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [3]:
print("Display some basic information as rows, columns and some basic statistical info.")
print("Columns:")
print(df.columns)
print("Number of rows:")
print(df.index.size)
print("Number of elements inside the dataframe (every cell):")
print(df.size)
print("DataFrame description:")
print(df.describe)

Display some basic information as rows, columns and some basic statistical info.
Columns:
Index(['Name', 'People', 'Area', 'BIP', 'Currency'], dtype='object')
Number of rows:
5
Number of elements inside the dataframe (every cell):
25
DataFrame description:
<bound method NDFrame.describe of        Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL>

In [4]:
print("Show the last 4 rows of the data frame.")
df.iloc[-4:]

Show the last 4 rows of the data frame.

       Name     People     Area   BIP Currency
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [5]:
print("Show all the row of countries who have the EURO")
df.loc[df['Currency']=='EUR']

Show all the row of countries who have the EURO

      Name    People    Area   BIP Currency
0  Germany  82521653  357385  3466      EUR
3    Italy  60501718  301338  1850      EUR

In [6]:
print("Show only name and Currency in a new data frame")
df[['Name','Currency']]

Show only name and Currency in a new data frame

       Name Currency
0   Germany      EUR
1     Japan      YEN
2    Canada      CAD
3     Italy      EUR
4  Brazilia     REAL

In [7]:
print("Show only the rows/countries that have more than 2000 BIP (it is in Milliarden USD Bruttoinlandsprodukt)")
df.loc[df['BIP']>2000]

Show only the rows/countries that have more than 2000 BIP (it is in Milliarden USD Bruttoinlandsprodukt)

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN

In [8]:
print("Select all countries where with inhabitants between 50 and 150 Mio")

mask = (df['People']>50000000) & (df['People']<150000000)

df.loc[mask]

Select all countries where with inhabitants between 50 and 150 Mio

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN
3    Italy   60501718  301338  1850      EUR

In [9]:
print("Change BIP to Bip")
df = df.rename(columns={"BIP": "Bip"})

Change BIP to Bip

In [10]:
print("Calculate the Bip sum")
df['Bip'].sum()

Calculate the Bip sum

13581

In [11]:
print("Calculate the average people of all countries")
df['People'].mean()

Calculate the average people of all countries

102786293.6

In [12]:
print("Sort by name alphabetically")
df.sort_values('Name')

Sort by name alphabetically

       Name     People     Area   Bip Currency
4  Brazilia  208360000  8515770  1798     REAL
2    Canada   36503097  9984670  1529      CAD
0   Germany   82521653   357385  3466      EUR
3     Italy   60501718   301338  1850      EUR
1     Japan  126045000   377835  4938      YEN

In [13]:
print("Create a new data frame from the original where the area is changed as follows: all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!")

df2 = df.copy()

df2['Area'] = df2['Area'].apply(lambda x: 'SMALL' if x <= 1000000 else 'BIG')
df2

Create a new data frame from the original where the area is changed as follows: all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!

       Name     People   Area   Bip Currency
0   Germany   82521653  SMALL  3466      EUR
1     Japan  126045000  SMALL  4938      YEN
2    Canada   36503097    BIG  1529      CAD
3     Italy   60501718  SMALL  1850      EUR
4  Brazilia  208360000    BIG  1798     REAL